fastapi==0.115.0
uvicorn==0.30.6
moviepy==1.0.3
edge-tts==7.2.7
requests==2.32.3
pillow==11.3.0
numpy==2.4.2
python-dotenv==1.0.1
python-multipart==0.0.12
proglog==0.1.12
imageio==2.37.2
imageio-ffmpeg==0.6.0
